body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link{
  color:#0B0B0B;
  text-decoration:none;
}
.link:focus{
  color:#3F90FC;
}
.blue-button{
  background:#3F90FC;
  color:white;
  outline:none;
  border:none;
  height:30px;
  cursor:pointer
}
.input{
  padding:0 30px;
  width:200px;
  height:30px;
  outline:none;
  border:1px solid lightgray;
  
}

.input:focus{
  border:1px solid #3F90FC;
}
.container{
  margin:0 10vw;
  
}